# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# Database structures
chroma_db/

# Large Models
models/
*.gguf

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
